.gradient-custom {
    /* fallback for old browsers */
    background: #20013d;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(40, 4, 78), rgb(11, 35, 76));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(35, 6, 66), rgb(14, 39, 80))
}